= select_tag "location_id", options_from_collection_for_select(Location.all, "id", "postcode"), {:class => 'form-control'}

- # 	<select name="location_id" id="location_id" class="form-control">
- # 		<option value="3108">AB1</option>
- # 		<option value="3109">AB2</option>
- # 		<option value="3110">AB3</option>
- # 		<option value="3111">AB4</option>
- # 		<option value="3112">AB5</option>
- # 		<option value="3113">AB9</option>
- # 		...
